.Aspirants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 3vw;
    padding: 50px 0px 26px 15px;
}
.MuiTableCell-alignRight {
    text-align: center;
    flex-direction: row-reverse;
}