.User_list{
    background: white;
    margin: 100px auto;
    margin-top: 2rem;
}

.Search_boxUser{
    
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 1vw;
    }
