.viewerDashboardContainer{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    text-align: center;
}

.viewrDashboardTitle{
    font-size: 4rem;
}

.viewerSpan{
    background-color:  #FDC300;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 1px 10px 25px #c7c7c7;
}

.table59{
    width: 90%;

}

.rdt_TableCol{
    background-color: #c7c7c7;
    display: flex;
    justify-content: center;
}
.rdt_TableCell{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-right: 1px solid #c7c7c7;

}
