.viewerDashboardContainer{

    height: 120vh;
    width: 90vw;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
}

.viewrDashboardTitle{
    font-size: 4rem;
}

.table59{
    
    margin-left: 7vw;
    width: 90%;
    padding-top: 70px;
}

.rdt_TableCol{
    background-color: #c7c7c7;
    display: flex;
    justify-content: center;
}
.rdt_TableCell{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-right: 1px solid #c7c7c7;

}