

.rdt_TableCol{
    background-color:#c7c7c7;
    color:black;
    display: flex;
    justify-content: center;
    

  }
  .rdt_TableCell{
    display: flex;
    justify-content: center;
    border: 1px solid #c7c7c7;
}

  .tableInterview{
    width: 90vw;
    height: auto;
    text-align: center;
    overflow: scroll;
    padding: 20px;
    padding: 20px 30px;
    background-color:#ffffff;
    box-shadow: 1px 10px 25px #c7c7c7;
    margin: auto;

  }

  @media (max-width: 991px) {

    .tableInterview{
        width: 90vw;
        margin: auto;
        padding: 10px;
    }

}


