
  .moderatorInterviewTableContainer{
    height:90%;
    width: 90%;
    margin: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
  }

  .moderatorInterviewTableTitle{
    font-size:3rem;
  }

.rdt_TableCol{
    background-color:#D7D7D7;
    color:black;

  }
  /*.rdt_TableCell{
    background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    border-right: 1px solid #c7c7c7;

}*/
  .tableInterview{
    width: 80vw;
    overflow: scroll;
    padding: 20px;

  }

  @media (max-width: 768px) {

    .tableInterview{
        width: 80vw;
        margin: auto;
    }

}

@media (max-width: 465px) {

    .tableInterview{
        width: 80vw;
        margin: auto;
    }

}


  /*@media (max-width:425px){

    .moderatorInterviewTableContainer{
      height:100%;
      width: 100%;
      margin: 0px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    
    }

  }*/