@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #ccc;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}


.rdt_TableCol{
    background-color: #c7c7c7;
    display: flex;
    justify-content: center;
}
.rdt_TableCell{
    display: flex;
    justify-content: center;
    border: 1px solid #c7c7c7;
}

.interviewerApplicantTable{
    width: 75vw;
    text-align: center;
    overflow: scroll;
    padding: 20px 30px;
    background-color:#ffffff;
    box-shadow: 1px 10px 25px #c7c7c7;
    margin: auto;
    
}

.interviewerDashboardTable{
    width: 85vw;
    text-align: center;
    overflow: scroll;
    padding: 20px 30px;
    background-color:#ffffff;
    box-shadow: 1px 10px 25px #c7c7c7;
    margin: auto;    
}

.InterviewerApplicantsCalificationBoxContainer{
    width: 75vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    flex-wrap: wrap;
    padding: 20px;
    gap: 50px;
    
}

.card{
    width: 460px;
    box-shadow: 1px 10px 25px #c7c7c7;
    text-align: center;
    padding: 0 20px;
    height: 600px;
    overflow-y: scroll;
}

.card-header{
    font-size: 1rem;
    height: 55px;
    background-color: #FDC300;
    box-shadow: 1px 10px 25px #c7c7c7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title{
    margin-top: 20px;
}

.interviewerCardSpan{
    font-weight: bolder;
}

.fivePoints, .fourPoints, .threePoints, .redPoints{
    padding: 5px;
    border-radius: 10px;
}
.fivePoints{
    background-color: #7AC139;
}
.fourPoints{
    background-color: #FFCC02;
}

.threePoints{
    background-color: #fd8c2e;
}
.redPoints{
    background-color: #fe0404;
}

.InterviewerApplicanTextarea{
    box-shadow: 1px 10px 25px #c7c7c7;
    width: 100%;
  
}

.InteviewerApplicantSubmit{
    background-color: #010101;
    color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 10px 25px #c7c7c7;
    margin-top: 10%;
}
.card-footer{
    padding: 10px;
    box-shadow: 1px 1px 10px #c7c7c7;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.interviewerSelect{
    width: 100px;
    border-radius: 5px;
    border: none;
    padding: 5px;

}
.interviewerSelectOption{
    width: 150px;   
}
@media (max-width: 768px) {

    .interviewerApplicantTable{
        width: 90vw;
        margin: auto;
        padding: 10px;
    }
    .interviewerDashboardTable{
        width: 90vw;
    }
        .card-header{
            font-size: 1rem;
            height: auto;
            background-color: #FDC300;
        }
    }



@media (max-width: 465px) {
    .InterviewerApplicantsCalificationBoxContainer{
        padding: 0;
        width: 100%;
    }

}

