.interviewerApplicantContainer {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}
.interviewrApplicantTitle {
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}

.interviewrApplicantTitle2 {
  font-size: 2rem;
  text-align: center;
  padding: 20px;
  margin-top: 3%;
}

.buttonBackInterviewerViewer {
  border: none;
  background-color: #c7c7c7;
  border: 1px solid #fdc300;
  color: #000000;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 10px 25px #c7c7c7;
  margin-top: 10%;
  font-size: 1rem;
  font-weight: bolder;
  margin-left: 65%;
}

.buttonBackInterviewerViewer:hover {
  background: #505050;
  color: #ffffff;
  font-weight: 700;
  transition-property: initial;
  transition-duration: 1s;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .buttonBackInterviewerViewer {
    margin-top: 15%;
  }
  .interviewrApplicantTitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 530px) {
  .buttonBackInterviewerViewer {
    width: 70%;
    margin-top: 30%;
    margin-left: 35%;
  }
  .interviewrApplicantTitle {
    font-size: 1rem;
  }
  .interviewrApplicantTitle2 {
    font-size: 1rem;
  }
}
