.section__convocatory {
    width: 100%;
    height: auto;
    margin: 3vh 4vw 0 11vw;
}

.section__contentC {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


