.section__convocatory {
    width: 100%;
    height: 260px;
    margin: 8vw 3vw 326px 11vw;
}

.section__contentC {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


