.table-container{
  margin: 137px auto;
  width: 85%;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.FormTechTest{
  margin: 165px auto;
  background: #fdc300;
  padding: 2vw;
  border-radius: 2em;
}
