.qualify {
  display: flex;
  width: 90%;
  padding: 4rem 0 0 7rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
  height: auto;
  /* padding-left: 11rem; */
}
.good{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: green;
  color: #fff;
}

.bad{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: red;
  color: #fff;
}


.section__content {
    margin: 15px;
}


/* .qualify {
  display: flex;
  width: 99%;
  /* max-width: 1800px; */
/*   padding: 95px 40px 0px 41px;
}
  */