.qualify {
  display: flex;
  width: 100%;
  padding: 93px 40px 0px 104px;
  height: 600px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.good{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: green;
  color: #fff;
}

.bad{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: red;
  color: #fff;
}

@media screen and (max-width: 1400px) {
  .qualify {
    height: 100vh;
  }
 
.section__content {
    margin: 15px;
}
}


/* .qualify {
  display: flex;
  width: 99%;
  /* max-width: 1800px; */
/*   padding: 95px 40px 0px 41px;
}
  */