

.Convocatory_Form {
    margin: 103px 39px 45px 104px;
    width: 100%;
    padding: 39px;
    background-color: #fff;
    border-radius: 37px;
}

.convocatory-data{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 18px;
    margin-bottom: 4rem;
}
.containerButton{
    display: flex;
    justify-content:center;
    padding: 1em;
   
}

.convocatory-data div{
    display: flex;
    flex-direction: column;
}

.convocatory-data div span{
    color: red;
    margin-bottom: 1rem;
    margin-top: none;
}

.convocatory-data div label{
    width: 14rem;
}

.convocatory-data div input{
    width: 14rem;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 1rem 0;
    background: #fff;
}

@media screen and (max-width: 991px) {

    .Convocatory_Form {
        margin: 101px 39px 45px 38px;
        width: 100%;
        padding: 38px;
        background-color: #fff;
        border-radius: 37px;
    }
    .convocatory-data{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 18px;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 700px) {

    .Convocatory_Form {
        margin: 101px 39px 45px 20px;
        width: 100%;
        padding: 38px;
        background-color: #fff;
        border-radius: 37px;
    }
    .convocatory-data{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        font-size: 18px;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 700px)
{
    .Convocatory_Form {
    margin: 89px 19px 45px 19px;
    width: 100%;
    padding: 17px;
    background-color: #fff;
    border-radius: 37px;
}}
