
  .moderatorInterviewTableContainer{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    overflow-y: scroll;
    padding: 7px;
    padding-top: 10%;
    margin-bottom: 400px;
  }

.divi{
  
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moderatorInterviewTableTitle{
  font-size: 2rem;
}

@media (max-width: 991px) {
  .moderatorInterviewTableContainer{
    padding-top: 15%;

  }
}

@media (max-width: 698px) {
  .moderatorInterviewTableTitle{
    width:100%;
    margin-top: 10%;
    font-size: 1.5rem;
}


}

@media (max-width: 370px) {
  .moderatorInterviewTableTitle{
    margin-top: 25%;
    font-size: 1.1rem; 
  }

}