
  .moderatorInterviewTableContainer{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
   
    overflow-y: scroll;
    padding: 7px;
    padding-top: 15%;
    margin-bottom: 300px;
  }

.divi{
  
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media (max-width: 698px) {
  .moderatorInterviewTableTitle{
    width:80%;
    margin-top: 10%;
    font-size: 1.8rem;
}


}

@media (max-width: 370px) {
  .moderatorInterviewTableTitle{
    width:80%;
    margin-top: 10%;
    font-size: 1.5rem;
}

 .moderatorInterviewContainerTitle{
   margin-left: 50px;
 }

}