.moderatorContainerInterview{
    height: 100%;
    width: 90%;
    margin: 0 50px;
    margin-left: 7%;
    padding:12px;
   
}

.moderatorCreateInterviewTitle{
    font-size: 2rem;
    margin-top:10%;
    text-align:center;
    background-color: #FFCC02;
    color: #000;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 1px 10px 25px #c7c7c7;

}
@media  (max-width:991px){
    .moderatorCreateInterviewTitle{
        font-size: 1.5rem;
        margin-top:15%;
      
    }

}
@media  (max-width:530px){
    .moderatorCreateInterviewTitle{
        font-size: 1.5rem;
        margin-top:25%;
    
    
    }

}