
  .moderatorInterviewTableContainer{
    height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    
    overflow-y: scroll;

  }
  .moderatorInterviewContainerTitle{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .moderatorInterviewTableTitle{
    width:40rem;
    text-align: center;
    background-color: #FFCC02;
    color: #000;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 1px 10px 25px #c7c7c7;
    margin-top: 10%;
  
  }

  .secondu{
    width: 90%;
    height: auto;
    background-color:#ecfdcf;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 23%;
    
}

  @media (max-width: 698px) {
    .moderatorInterviewTableTitle{
        width:80%;
        margin-top: 10%;
        font-size: 2rem;
    }

    .moderatorInterviewTableContainer{
      
      
      height: 170vh;
      
    }
  
  }
  

    



