.moderatorContainer43{
    height: auto;
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}


.moderatorIndex{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.moderatorIndexTitle{
    margin-top: 10%;
}

.moderatorApplicantsCitedTitle, .moderatorDashboardTitle{
    font-size: 3rem;
    padding: 20px 30px;
    background-color:#ffffff;
    box-shadow: 1px 10px 25px #c7c7c7;
    margin: auto;
}

.moderatorContainer44{
    padding-top: 100px;
    padding-bottom: 50px;
    overflow-y: scroll;
    border-radius: 7px;
}


.secondu{
    width: 90%;
    height: auto;
    background-color:#ecfdcf;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}


.moderatorDashboard{
    height: 20%;
}

.table77{
    margin-top: 100px;
    margin-left: 7%;
    
}
.tablemoderatorApplicantsCited{
    width: 75vw;
    margin: auto;

}

@media (max-width: 600px) {
    .moderatorContainer43 {
        height: auto;
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        text-align: center;
        padding-top: 100px;
        
    }
    .moderatorApplicantsCitedContainer{
        
        width: 99%;
    }
    .table{
        width: 98%;
        padding: 20px 10px;
    }
    .tablemoderatorApplicantsCited{
        width: 90vw;
    }

  }

@media (max-width: 530px) {

    .moderatorIndexTitle{
       font-size: 2rem;
       padding: 20px;
    }

}
