

.moderatorContainer43{
    padding-top: 100px;
    margin-left: 7%;
    width: 90%;
    
}

.moderatorContainer44{
    padding-top: 100px;
    margin-left: 11%;
    width: 90%;
    margin-bottom: 23%;
}


.secondu{
    width: 90%;
    height: auto;
    background-color:#ffe88b;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}


.moderatorDashboard{
    height: 20%;
}

.table77{
    margin-top: 100px;
    margin-left: 7%;
    
}


