.moderatorContainer{
   
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center; 
}

.moderatorApplicantsCitedTitle, .moderatorDashboardTitle{
    font-size: 3rem;
    
}

.moderatorContainer44{
    height: 100vh;
    width: 90%;
    background-color:rgb(226, 226, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    padding-top: 100px;
    padding-bottom: 50px;
    
    overflow-y: scroll;
    border-radius: 7px;
}




.secondu{
    width: 90%;
    height: auto;
    background-color:#FFCC02;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
}


.moderatorDashboard{
    height: 20%;
}