.moderator_createviewer {
  width: 80vw;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  margin: auto;
  box-shadow: 1px 10px 25px #c7c7c7;
  overflow: scroll;
  margin-left: 3.5%;
}
table .table_head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.tableResponsive {
  overflow: scroll;
  height: 350px;
}
.table_full {
  width: 75vw;
  margin: auto;
}

.table_head {
  background: #c7c7c7;
  font-size: 1rem;
  height: 70px;
  border: solid 1px #c7c7c7;
}

td {
  border: solid 1px #c7c7c7;
  height: 50px;
}
td:hover {
  background-color: #c7c7c7;
}

@media (max-width: 991px) {
  .moderator_createviewer {
    width: 90vw;
    margin-left: 0;
  }
}
