.rdt_TableCol{
    background-color: #c7c7c7;
    display: flex;
    justify-content: center;
    
}
.rdt_TableCell{
    width: 10vw;
    display: flex;
    justify-content: center;
    border-right: 1px solid #c7c7c7;

}

.moderator_createviewer{
    width: 80vw;
    text-align: center;
    padding: 20px;
    background-color:#ffffff;
    box-shadow: 1px 10px 25px #c7c7c7;
    margin: auto;
}




@media (max-width: 768px) {

    .moderator_createviewer{
        width: 80vw;
        margin: auto;
        overflow: scroll;
    }

}

@media (max-width: 465px) {

    .moderator_createviewer{
        width: 80vw;
        margin: auto;
        overflow: scroll;
    }

}





