.moderator_createviewer {
  width: 80vw;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  margin: auto;
  box-shadow: 1px 10px 25px #c7c7c7;
}
.table_full {
  width: 100%;
}
.table_body {
  width: 80vw;
  height: 90%;
}
.table_head {
  background: #c7c7c7;
  font-size: 1.2rem;
  height: 70px;
  border: solid 1px #c7c7c7;
}

td {
  border: solid 1px #c7c7c7;
  height: 50px;
}
td:hover {
  background-color: #c7c7c7;
}

@media (max-width: 768px) {
  .moderator_createviewer {
    width: 80vw;
    margin: auto;
    overflow: scroll;
  }
}

@media (max-width: 465px) {
  .moderator_createviewer {
    width: 80vw;
    margin: auto;
    overflow: scroll;
  }
}
