.viewerAssesmentContainer{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7%;
    text-align: center;
}

.viewerAssesmentTitle{
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    margin-top: 10%;
}

.viewerSpan{
    background-color:  #FDC300;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 1px 10px 25px #c7c7c7;
}
.viewerAssesmentTitle2{
    font-size: 2rem;
    text-align: center;

}

.viewerAssesmentTitle3{
    font-size: 2rem;
    text-align: center;
    padding: 20px;
    margin-top: 3%;
}


@media (max-width: 991px) { 
    .viewerAssesmentTitle{
        margin-top: 15%;
        font-size: 1.5rem;
    }
    .viewerAssesmentTitle2, .viewerAssesmentTitle3{
        font-size: 1.5rem;
    }
    
}

@media (max-width: 530px) { 
    .viewerAssesmentTitle{
        margin-top: 23%;
        font-size: 1rem;
    }
    .viewerAssesmentTitle2, .viewerAssesmentTitle3{
        font-size: 1rem;
    }
    
}
 
 