.moderatorContainer_interviewer{
  height: auto;
  width: 90%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center; 
  }

.moderatorContainer_viewer{
  height: auto;
width: 90%;
display: flex;
/* flex-direction: column; */
justify-content: center;
align-items: center;
margin: auto;
text-align: center; 
}

 
.moderatorInterviewerTitle{
<<<<<<< HEAD
  background: #1d1c1c;
=======
>>>>>>> 279b11e5b9a1f3e860eec86a44a0419fb1b5a9d0
  font-size: 2rem;
  margin-top: 10%;
  font-size: 2rem;
  border-radius: 10px;
  padding: 10px;
  color: rgb(254, 248, 248);
  border: 2px solid #fdc300;
}

@media (max-width: 991px){
  .moderatorInterviewerTitle{
    font-size: 1.5rem;
    margin-top: 20%;
  }
}

@media (max-width: 530px) {
  .moderatorInterviewerTitle{
    font-size: 1rem;
    margin-top: 35%;

  }
}


  


